{% extends 'index.html' %}

{% block title %}Página de Inicio{% endblock %}

{% block contenido %}
    <h1 style="text-align: center;">Cargar Archivo</h1>
    <!-- Formulario de carga de archivos con estilos de Bootstrap -->
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Cargar Archivo</h5>
            {% if mensaje %}
                <div class="alert {% if mensaje == 'Archivo cargado correctamente' %}alert-success{% else %}alert-danger{% endif %}" role="alert">
                    {{ mensaje }}
                </div>
            {% endif %}
            <form method="POST" enctype="multipart/form-data" action="{% url 'cargarArchivoMascotas' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="archivo">Selecciona un archivo:</label>
                    <input type="file" class="form-control-file" id="archivo" name="archivo">
                </div>
                <button type="submit" class="btn btn-primary">Subir Archivo</button>
            </form>
        </div>
    </div>
{% endblock %}
